/build/
.idea/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile
*.exe
*.out
*.app
test1_target
*.a
*.lib
*.so
*.dll
*.swp
*.swo
*.user
*.user.*
*.log
*.o
*.obj
*.vcxproj*
*.sln
*.ncb
*.opensdf
*.sdf
*.ipch
.DS_Store
*.tmp
*.bak